body {
  background-color: snow;
}
table,
th,
td {
  border: 1px solid black;
}
input[name="message"] {
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 4px;
  width: 200px;
  height: 200px; /* Set the height to match the width */
}
.swapify {
  text-align: center;
  border: solid 1px;
  padding: 20px;
  background-color: bisque;
}
.contact-form {
  border: black 1px;
  padding: 20px; /* Adds some spacing between the form elements and the border */
  max-width: 400px; /* Sets a maximum width for the form */
}

/* Additional styles for form fields if needed */
.contact-form label {
  display: block; /* Makes the labels appear on separate lines */
  /* Adds some space below the labels */
}

.contact-form input,
.contact-form select {
  width: 90%; /* Makes the input fields and select elements stretch to fill the container */
  padding: 5px; /* Adds some padding inside the input fields and select elements */
  margin-bottom: 15px; /* Adds some space between form elements */
}
